.example-card {
    border: 3px solid #FF9900;
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  table {
    width: 100%;
  }
  .mat-elevation-z8 {
border: 3px solid #FF9900;
  }