<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <mat-progress-spinner value="40" color="warn"></mat-progress-spinner>
    
      <h1>
        Mensah's Material Module
      </h1>
    
      <div class="mat-subheading-1">
        My Name Is...
      </div>
    
     <div class="grid-container">
     <div *ngFor="let cooty of mooties" class="butt">
      <li><button mat-raised-button color="warn">{{cooty}}</button></li>
    </div>
      
    </div> 
    
    <mat-icon >backup</mat-icon>
    <mat-icon color="primary">explore</mat-icon>
    <mat-icon color="accent">movie</mat-icon>
    <mat-icon color="warn">note</mat-icon>
    
    <button mat-button>Press</button>
    <button mat-raised-button>Press</button>
    <button mat-flat-button>Press</button>
    <button mat-stroked-button>Press</button>
    
    <button mat-icon-button>Pr</button>
    <button mat-fab>Pr</button>
    <button mat-mini-fab>Pr</button>
    
    <button color="primary" mat-stroked-button>Primary</button>
    <button color="accent" mat-stroked-button>Accent</button>
    <button color="warn" mat-stroked-button>Warn</button>
    
    <button color="primary"  mat-raised-button>Press</button>
    <button color="accent"  mat-raised-button>Press</button>
    <button color="warn"  mat-raised-button>Press</button>
    
    <button color="primary" disableRipple mat-raised-button>Press</button>
    <button color="accent" disableRipple mat-raised-button>Press</button>
    <button color="warn" disableRipple mat-raised-button>Press</button>
    
    
    <router-outlet></router-outlet>
    
    
    <!--
    //BUTTONS IN MATERIAL
    mat-button 
    mat-raised-button
    mat-flat-button
    mat-stroked-button
    
    mat-icon-button
    mat-fab
    mat-mini-fab
    
    //COLORS IN MATERIAL
    ...color="primary"
    ...color="accent"
    ...color="warn"
    
    //TYPOGAPHY IN MATERIAL
    mat-display-2
    mat-headline
    mat-title
    mat-subheading-1
    mat-subheading-1
    
    mat-body-1
    mat-body-2
    mat-caption
    mat-typography
    
    
    //ICONS IN MATERIAL
    mat-icon color="primary"
    mat-icon color="accent"
    mat-icon color="warn"
    
    //BADGES IN MATERIAL
    
    //SPINNERS IN MATERIAL
    mat-progress-spinner value="40"
    -->